@model ProductsAccountingNew.Models.ProductWithPrice;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table">
    @foreach (var price in @ViewBag.ProductsWithPrice)
    {
        <tr>
            <td>@price.Name</td>
            <td>@price.Price</td>
            <td>@Html.ActionLink("change_price", "ProductWithPrice", new { id = price.Id })</td>
            <td><a onclick="deletePrice('@price.Id')" href="#"> delete </a></td>
        </tr>
    }
</table>
<form method="post" asp-action="ProductsWithPrice">
    <table>
        <tr>
            <td>Название:</td>
            <td>
                <input type="text" name="Name" />
            </td>
        </tr>
        <tr>
            <td>Цена:</td>
            <td>
                <input type="text" name="Price" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Send" />
            </td>
            <td></td>
        </tr>

    </table>
</form>


<script type="text/javascript">
    function deletePrice(userId) {
        $.ajax({
            url: '/delete_price/' + userId,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Всё сломалось!!!")
            }
        })
    }
</script>