@model ProductsAccountingNew.Models.ProductPrice;

@{
    ViewBag.Title = "Цены на продукты";
    Layout = "_Layout";
}
<table class="table table-hover" style="text-align: center;">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Название продукта</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var price in @ViewBag.ProductPrices)
        {
            <tr>
                <td>@price.Name</td>
                <td>@price.Price</td>
                <td>@Html.ActionLink("изменить", "ProductPrice", new { id = price.Id })</td>
                <td><a onclick="deletePrice('@price.Id')" href="#"> удалить </a></td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-action="ProductPrices" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <table>
        <h4>Добавление цен</h4>
        <tr>
            <td style="padding: 4px;">Название:</td>
            <td style="padding: 4px;">
                <input type="text" name="Name" />
            </td>
        </tr>
        <tr>
            <td style="padding: 4px;">Цена:</td>
            <td style="padding: 4px;">
                <input type="text" name="Price" />
            </td>
        </tr>
        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Добавить" />
            </td>
            <td></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    function deletePrice(userId) {
        $.ajax({
            url: '/delete_price/' + userId,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Всё сломалось!!!")
            }
        })
    }
</script>