@model ProductsAccountingNew.Models.ShoppingList;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table">
    @foreach (var shoppingList in @ViewBag.ShoppingList)
    {
        <tr>
            <td>@shoppingList.Name</td>
            <td>@shoppingList.Count</td>
            <td>@shoppingList.Price</td>
            <td><a onclick="addProduct('@shoppingList.Id' , '@shoppingList.Name' , '@shoppingList.Count', '@shoppingList.Price'  , '@shoppingList.UserId')" href="#">buy product</a></td>
            <td><a onclick="deleteProduct('@shoppingList.Id' , '@shoppingList.Name')" href="#">delete</a></td>
        </tr>
    }
</table>
<form method="post" asp-action="ShoppingList">
    <table>
        <tr>
            <td>Название:</td>
            <td>
                <input type="text" name="Name" />
            </td>
        </tr>
        <tr>
            <td>Цена:</td>
            <td>
                <input type="text" name="Price" />
            </td>
        </tr>
        <tr>
            <td>Количество:</td>
            <td>
                <input type="text" name="Count" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Send" />
            </td>
            <td></td>
        </tr>

    </table>
</form>


<script type="text/javascript">
    function addProduct(productId, name, count, price, userId) {
        $.ajax({
            url: '/shopping_list/buy_product/' + productId + '/' + name + '/' + count + '/' + price + '/' + userId,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Всё сломалось!!!")
            }
        })
    }
</script>


<script type="text/javascript">
    function deleteProduct(productId, name) {
        $.ajax({
            url: '/shopping_list/delete_product/' + productId + '/' + name,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Всё сломалось!!!")
            }
        })
    }
</script>