@model ProductsAccountingNew.Models.ShoppingList;

@{
    ViewBag.Title = "Список покупок";
    Layout = "_Layout";
}

<style>
    a.nav-link.shoppingList {
        color: #ffc107;
    }
</style>


<table class="table table-hover" style="text-align: center;">
    <div class="row">
        <div class="col-10"></div>
        <h3 class="col-2" style="text-align:right">Баланс: @ViewBag.Balance</h3>
    </div>


    <thead class="thead-dark">
        <tr>
            <th scope="col">Название продукта</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var shoppingList in @ViewBag.ShoppingList)
        {
            <tr>
                <td>@shoppingList.Name</td>
                <td>@shoppingList.Count</td>
                <td>@shoppingList.Price</td>
                <td><a onclick="buyProduct('@shoppingList.Id' , '@shoppingList.Name' , '@shoppingList.Count', '@shoppingList.Price')" href="#"> купить </a></td>
                <td><a onclick="deleteProduct('@shoppingList.Name')" href="#"> удалить </a></td>
            </tr>
        }
    </tbody>
</table>
<form method="post" asp-action="ShoppingList" class="my-5 col-5" style="border-style: dashed; border-width:thin; border-color: #343a40; padding: 8px; ">
    <fieldset>
        <legend>
            <h4>Добавление продуктов</h4>
        </legend>
        <table>

            <tr>
                <td style="padding: 4px;">Название:</td>
                <td style="padding: 4px;">
                    <select asp-for="Name" asp-items="@ViewBag.ProductNames" style="width: 100%;"></select>
                    @*<select asp-items="ViewBag.ProductNames" name="Name"></select>*@
                    @*<input type="text" name="Name" />*@
                </td>
            </tr>
            <tr>
                <td style="padding: 4px;">Количество:</td>
                <td style="padding: 4px;">
                    <input type="text" name="Count" />
                </td>
            </tr>
            <tr>
                <td style="padding: 2px;">
                    <input type="submit" class="btn btn-warning" value="Добавить" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
</form>

<script type="text/javascript">
    function buyProduct(productId, name, count, price) {
        $.ajax({
            url: '/shopping_list/buy_product/' + productId + '/' + name + '/' + count + '/' + price,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Всё сломалось!!!")
            }
        })
    }
</script>


<script type="text/javascript">
    function deleteProduct(name) {
        $.ajax({
            url: '/shopping_list/delete_product/' + name,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Всё сломалось!!!")
            }
        })
    }
</script>