@model ProductsAccountingNew.Models.User;

@{
    ViewBag.Title = "Редактирование пользователя";
    Layout = "_Layout";
}

@using (Html.BeginForm("Edit", "Users", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(m => m.Id)
        <tr>
            <td style="padding: 4px;">Логин:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Login)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">ФИО:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.FullName)
            </td>
        </tr>

        <tr>
            <td style="padding: 4px;">Электронная почта:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td style="padding: 4px;">Баланс:</td>
            <td style="padding: 4px;">
                @Html.TextBoxFor(m => m.Cash)
            </td>
        </tr>
        <tr>
            <td style="padding: 2px;">
                <input type="submit" value="Изменить" />
            </td>
            <td></td>
        </tr>

    </table>
}